/* Footer.css */

footer {
    width:99.5%;
    height:80px;
    background-color: #121212; /* Cor de fundo preta */
    color: #fff; /* Cor do texto branca */
    padding: 20px;
    text-align: center;
  }
  
  footer a {
    color: #61dafb; /* Cor dos links azul brilhante */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #4fa3d1; /* Cor dos links mais escura no hover */
  }
  
  footer p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px;
    font-size: 24px;
    color: #fff; /* Cor branca para ícones de redes sociais */
  }  